* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
}

.game-area {
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 600px;
}

@media (max-width: 600px) {
  .game-area {
    width: 100vw;
    height: 100vh;
  }
}
