* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#root {
  margin-top: 56px;
  height: calc(100vh - 56px);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.game-area {
  position: relative;
  width: 100%;
  border: 5px solid black;
  flex-basis: 75%;
}

.controller-container {
  flex-basis: 25%;
  width: 100%;
  background-color: #ccc;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    '. up .'
    'left . right'
    '. down .';
}

.controller-container img {
  width: 40px;
}

.controller-container button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.up {
  grid-area: up;
}

.up img {
  transform: rotate(-90deg);
}

.down {
  grid-area: down;
}

.down img {
  transform: rotate(90deg);
}

.left {
  grid-area: left;
}

.left img {
  transform: rotate(180deg);
}

.right {
  grid-area: right;
}
